.Root {
  position: relative;
  max-width: max-content;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}

.Dropdown {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  width: max-content;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 12345678;
  animation: fade-down 200ms ease;
}

.DropdownItem {
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}