:root {
    --black: #151515;
    --green: #46760A;
    --brown: #B28A48;
    --red: #C7522D;
    --blue: #19B2B8;
    --dark-gray: #575757;
    --green-light: #6A983C;
    --brown-light: #D0A866;
    --red-light: #E5704B;
    --blue-light: #37D0D6;
}