.container {
  max-width: 1260px;
  width: 100%;
  padding-inline: 45px;
  margin-inline: auto;
  background-color: #fff;

  @media (max-width: 991.98px) {
    padding-inline: 30px;
  }
  @media (max-width: 767.98px) {
    padding-inline: 24px;
  }
  @media (max-width: 567.98px) {
    padding-inline: 12px;
  }
}
