.Root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:first-child {
    margin-right: auto;
  }
}

.Products {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 32px;
}