.Root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}